{#  -*- coding: utf-8 -*- #}
{% block content %}
<div>
	{% for post in posts %}
	   <div style="display: inline-block; width: 25%; overflow: auto; background-color: lightgray; padding: 1%; margin: 10px; border: 1px solid black">
	   	     {% if post.previewimage %}
    		         <img src="{{ post.previewimage }}" height="100px" style="margin-right: 10px; float: left" />
		     {% endif %}
		     <a href="{{ post.permalink(lang) }}">{{ post.title(lang)|e }}</a>
	   </div>
	{% endfor %}
</div>
{% endblock %}
