{#  -*- coding: utf-8 -*- #}
{% block content %}
<!-- Begin post-list {{ post_list_id }} -->
<div id="{{ post_list_id }}" class="post-list">
    {% if posts %}
	{% for post in posts %}
	   <div style="display: inline-block; width: 45%; overflow: auto; background-color: lightgray; padding: 1%; margin: 10px; border: 1px solid black">
	     {% if post.previewimage %}
		 <img src="{{ post.previewimage }}" height="100px" style="margin-right: 10px; float: left" />
	     {% endif %}
	     <h2><a href="{{ post.permalink(lang) }}">{{ post.title(lang)|e }}</a></h2>
	     <p>
	     {{ post.text(lang, teaser_only=True, show_read_more_link=False) }}
	     {{ post.formatted_date(date_format)|e }}. {{ post.reading_time }} minute read.
	   </div>
	{% endfor %}
    {% endif %}
</div>
<!-- End post-list {{ post_list_id }} -->
{% endblock %}
