{#  -*- coding: utf-8 -*- #}
{% block content %}
<!-- Begin post-list {{ post_list_id }} -->
<div id="{{ post_list_id }}" class="post-list">
    {% if posts %}
    <ul class="post-list">
        {% for post in posts %}
            <li class="post-list-item">
            <a href="{{ post.permalink(lang) }}">{{ post.title(lang)|e }}</a>
	    {% if post.previewimage %}
	        &nbsp;
	        <img src="{{ post.previewimage }}" width="200px" />
	    {% endif %}
            &nbsp;
            ({{ post.formatted_date(date_format)|e }})
            </li>
	    {{ post.text(teaser_only=True, show_read_more_link=False) }}
        {% endfor %}
    </ul>
    {% endif %}
</div>
<!-- End post-list {{ post_list_id }} -->
{% endblock %}
