{#  -*- coding: utf-8 -*- #}
{% block content %}
<!-- Begin post-list {{ post_list_id }} -->
<div id="{{ post_list_id }}" class="post-list">
    {% if posts %}
    <ul class="post-list">
        {% for post in posts %}
            <li class="post-list-item">
	        <h2><a href="{{ post.permalink(lang) }}">{{ post.title(lang)|e }}</a></h2>
		</a>
		({{ post.formatted_date(date_format)|e }})
		<p>
                <div>
		    {% if post.previewimage %}
    		        <img src="{{ post.previewimage }}" width="200px" style="display:inline-block" />
			<p>
		    {% endif %} 
    	            {{ post.text(lang, teaser_only=True) }}
    	        <div>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<!-- End post-list {{ post_list_id }} -->
{% endblock %}
