{% extends 'story.tmpl' %}

{% block content_header %}
  <div class="title-block post-format-icon-star">
    <h1>{{ title|e }}</h1>
    </div>
{% endblock %}


{% block content_post %}
    <div class="site-content" role="main">
	<article class="format-standard libretto-long-form">
	    <div class="entry-content">


    {% if post %}
    <p>
	{{ post.text() }}
    </p>
    {% endif %}
    {% if folders %}
	{% if galleries_use_thumbnail %}
	    {% for (folder, ftitle, fpost) in folders %}
	    <div class="thumnbnail-container">
		<a href="{{ folder }}" class="thumbnail image-reference" title="{{ ftitle|e }}">
		    {% if fpost and fpost.previewimage %}
			<img src="{{ fpost.previewimage }}" alt="{{ ftitle|e }}" loading="lazy" style="max-width:{{ thumbnail_size }}px; max-height:{{ thumbnail_size }}px;" />
		    {% else %}
			<div style="height: {{ thumbnail_size }}px; width: {{ thumbnail_size }}px; background-color: #eee;"></div>
		    {% endif %}
		<p class="thumbnail-caption">{{ ftitle|e }}</p>
		</a>
	    </div>
	    {% endfor %}
	{% else %}
	    <ul>
	    {% for folder, ftitle in folders %}
		<li><a href="{{ folder }}">&#x1f4c2;&nbsp;{{ ftitle|e }}</a></li>
	    {% endfor %}
	    </ul>
	{% endif %}
    {% endif %}

<div id="gallery_container"></div>
{% if photo_array %}
<noscript>
<ul class="thumbnails">
    {% for image in photo_array %}
	<li><a href="{{ image['url'] }}" class="thumbnail image-reference" title="{{ image['title']|e }}">
	    <img src="{{ image['url_thumb'] }}" alt="{{ image['title']|e }}" loading="lazy" /></a>
    {% endfor %}
</ul>
</noscript>
{% endif %}
{% if site_has_comments and enable_comments %}
    {{ comments.comment_form(None, permalink, title) }}
{% endif %}


	    </div>
	</article>
    </div>
{% endblock %}

{% block early_js %}
  <style type="text/css">
    #gallery_container {
	position: relative;
    }
    .image-block {
	position: absolute;
    }
</style>
{% endblock %}

{% block late_js %}
<script src="/assets/js/baguetteBox.min.js"></script>
<script src="/assets/js/justified-layout.min.js"></script>
<script src="/assets/js/gallery.min.js"></script>
<script>
var jsonContent = {{ photo_array_json }};
var thumbnailSize = {{ thumbnail_size }};
renderGallery(jsonContent, thumbnailSize);
window.addEventListener('resize', function(){renderGallery(jsonContent, thumbnailSize)});
</script>

<script>
    baguetteBox.run('div#content', {
	ignoreClass: 'islink',
	captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
{% endblock %}
