{% extends 'post.tmpl' %}

{% block content_post %}
    <div class="site-content" role="main">
	<article class="format-notebook libretto-long-form">
	    <div class="entry-content">
		{{ post.text() }}
	    </div>
	</article>
    </div>
{% endblock %}
